@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #91bdba; */
    background: url('images/rps\ bckgrnd.png');
    background-repeat: no-repeat; /* Optional: set the repeat behavior */
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.container h1 {
   margin-bottom: 60px;
   font-style: italic;
   font-size: 60px;
   color: #0a635d;
}

#rules {
    margin-bottom: 10px;
    padding-bottom: 25px;
    color: black;
    border: 1px dotted #98576b;
}

#rules h2 {
    color: black;
}

#rules p {
    font-size: 20px;
    margin: 2px 0 4px 0;
}

#choose p {
    margin-bottom: 25px;
    color: rgb(3, 192, 192);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-style: italic;
}

#choices {
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #0a635d;
    border-radius: 5px;
    color: #fff;
}

button:hover {
    background-color: #639c99;
    border-radius: 3px;
    color: black;
}

#result {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    border: 1px dotted #98576b;
    color: #8b485c; 
    font: 'roboto';
}

